{{define "main"}}
<div class="kontakt">
    <div class="top-image">
        <div class="image-container">
            <span style="background-image: url({{ .Params.header_image }});"></span>
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
    <div class="container top-part-text">
        <div class="row text-center">
            <div class="columns seven sm-twelve inline-block">
                <p>
                   {{ .Params.explanation_text }}
                </p>
            </div>
        </div>
    </div>

    <div class="kontakt-form overview">
        <div class="container">
            <div class="row text-center">
                <div class="columns five sm-twelve text-left left-part">
                   <h2 class="title">{{ .Params.kontaktdaten_header | safeHTML }}</h2>
                        <p>
                            {{ .Params.kontaktdaten_text | safeHTML }}
                        </p>
                </div>
                <div class="columns seven sm-twelve text-left right-part with-border">
                    <h2 class="title">{{.Params.kontaktformular_header}} </h2>
                    <div id="success-message" style="display: none;">
                        {{ .Params.kontakt_success_message }}
                    </div>
                    <div id="error-message" style="display: none;" class="errors">

                    </div>
                    <form action="" id="contact-form">
                        <div class="input-container">
                            <input type="text" name="Vorname" placeholder="Vorname" required>
                        </div>
                        <div class="input-container">
                            <input type="text" name="Nachname" placeholder="Nachname">
                        </div>
                        <div class="input-container">
                            <input type="tel" name="Telefon" placeholder="Telefon" required>
                        </div>
                        <div class="input-container">
                            <input type="email" name="E-Mail" placeholder="E-Mail" required>
                        </div>
                        <div class="input-container">
                            <textarea name="Mitteilung" placeholder="Mitteilung"></textarea>
                        </div>
                        {{ if .Site.Params.recaptchaSiteKey }}
                            <div class="input-container">
                                <div class="g-recaptcha" id="g-recaptcha" data-notice-external="https://www.google.com/recaptcha/api.js?hl=de" data-sitekey="{{ .Site.Params.recaptchaSiteKey }}">
                                </div>
                            </div>
                        {{ end }}
                        <button class="btn bold" type="submit">Anfrage senden</button>
                    </form>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function($)
        {
            function after_form_submitted(data)
            {
                if(data.result == 'success') {
                    $('form#contact-form').show();
                    $('#contact-form').trigger('reset')
                    $('#success-message').show();
                    $('#error-message').hide();
                    if (typeof grecaptcha != "undefined") {
                        grecaptcha.reset();
                    }
                } else {
                    $('#error-message').html('');
                    $('#error-message').append('<ul></ul>');

                    jQuery.each(data.errors,function(key,val)
                    {
                        $('#error-message ul').append('<li><p class="bold">'+key+'</p><p>'+val+'</p></li>');
                    });
                    $('#success-message').hide();
                    $('#error-message').show();
                }
                //reverse the response on the button
                $form = $('#contact-form');
                $('button[type="button"]', $form).each(function() {
                    $btn = $(this);
                    label = $btn.prop('orig_label');
                    if(label) {
                        $btn.prop('type','submit' );
                        $btn.text(label);
                        $btn.prop('orig_label','');
                    }
                });
            }
            $('#contact-form').submit(function(e) {
                $('#error-message').html('');
                $('#success-message').hide();
                e.preventDefault();
                $form = $(this);
                //show some response on the button
                $('button[type="submit"]', $form).each(function() {
                    $btn = $(this);
                    $btn.prop('type','button' );
                    $btn.prop('orig_label',$btn.text());
                    $btn.text('Anfrage wird gesendet ...');
                });
                $.ajax({
                    type: "POST",
                    url: 'contact-handler.php',
                    data: $form.serialize(),
                    success: after_form_submitted,
                    dataType: 'json',
                    headers: {
                        'accept': '*/*'
                    },
                });

            });
        });
    </script>
    {{ if .Site.Params.googlemapskey }}
        <div class="map-container">
            <div id="map" data-notice-external="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googlemapskey }}&language=de&region=DE"></div>
        </div>
        <script>
            jQuery(document).ready(function($) {
                function initMap() {
                    if (typeof google === "undefined") {
						console.warn('You google maps api key is missing.')
						return;
					}

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 11,
                        center: {lat: 47.7636 , lng: 8.8472}
                    });

                    var infowindow = new google.maps.InfoWindow();

                    var marker,i;

                    var bounds = new google.maps.LatLngBounds();

                    {{ range $location := .Params.mapLocations }}
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng({{ $location.lat }}, {{ $location.lng }}),
                            map: map
                        });

                    bounds.extend(marker.position);


                    google.maps.event.addListener(marker, 'click', (function (marker) {
                            return function () {
                                infowindow.setContent({{ $location.description }});
                                infowindow.open(map, marker);
                            }
                        })(marker));

                    {{ end }}

                    // map.fitBounds(bounds);
                }

                function initLoadScript(src, type) {
                    var script = document.createElement("script");
                    script.src = src;
                    if( type === 'map') {
                        script.addEventListener('load', () => {
                            initMap();
                        });
                    }
                    document.head.appendChild(script);
                }

                var is_allowed_external_content = document.cookie.match('(^|;) ?allow_external_content=([^;]*)(;|$)');

                $('[data-notice-external]').each(function(key, el){
                    if(!is_allowed_external_content) {
                        var id = $(el).attr('id');
                        $('#' + id).parent().addClass('notice-external-' + id);
                        if(id === 'map') {
                            $(el).parent().prepend('{{ partial "external-card.html" (dict "type" "map" "name" "Google Maps") . }}');
                        }
                        if(id === 'g-recaptcha') {
                            $(el).parent().prepend('{{ partial "external-card.html" (dict "type" "g-recaptcha" "name" "Google Recaptcha") . }}');
                        }
                    }else{
                        initLoadScript($(el).attr('data-notice-external'),$(el).attr('id'))
                    }
                });

                $(document).on("click",".js--notice-external-btn",function() {
                    var expires = new Date();
                    expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
                    document.cookie = 'allow_external_content=true;expires=' + expires.toUTCString() + ';path=/';
                    $('.js--notice-external-content').remove();
                    $('[data-notice-external]').each(function(key, el){
                        $(el).parent().removeClass('notice-external-'+ $(el).attr('id'));
                        initLoadScript($(el).attr('data-notice-external'),$(el).attr('id'));
                    });
                });
            });
        </script>
    {{ end }}
</div>
{{ end }}


